<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864810328858-mu1vrps906hp2v1ctirj2eov06n1ki9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864810328858-mu1vrps906hp2v1ctirj2eov06n1ki9u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864810328858-lh5d7nqqso6mbi2bm7jo69cu0r99d22d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVP3ZaTdZXelyHEDWbJKC5I7Bhh-jUnRg</string>
	<key>GCM_SENDER_ID</key>
	<string>864810328858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wheredidispend.app</string>
	<key>PROJECT_ID</key>
	<string>wheredidispend-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>wheredidispend-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864810328858:ios:1664c85d22b602e15dc2a3</string>
</dict>
</plist>